# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserdatad
*.xcuserstate

# Swift Package Manager
/.build/
/Packages/
/Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Assets
*.xcassets/*.xcuserstate
