# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xcuserdatad

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# macOS
.DS_Store

# Logs
*.log

# User-specific settings
*.xcworkspace

